

  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-2">
    <div class="layout-inner">

      <%= render "layouts/partials/dashboard-sitenav" %>

      <!-- Layout container -->
      <div class="layout-container">
      
      <%= render "layouts/partials/dashboard-navbar" %>

        <!-- Layout content -->
        <div class="layout-content">

          <!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              Dashboard
              <!--<div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Dnes je <%#= Time.now.strftime("%d.%m. %Y") %></small></div>-->
            </h4>

            <!-- Counters -->
            <div class="row">
              <div class="col-sm-6 col-xl-3">

                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="lnr lnr-cart display-4 text-success"></div>
                      <div class="ml-3">
                        <div class="text-muted small">Prodáno (ks)</div>
                        <div class="text-large">2362</div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-6 col-xl-3">

                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="lnr lnr-earth display-4 text-info"></div>
                      <div class="ml-3">
                        <div class="text-muted small">Počet objednávek</div>
                        <div class="text-large">123</div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-6 col-xl-3">

                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="lnr lnr-gift display-4 text-danger"></div>
                      <div class="ml-3">
                        <div class="text-muted small">Produkty</div>
                        <div class="text-large">114</div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-6 col-xl-3">

                <div class="card mb-4">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="lnr lnr-users display-4 text-warning"></div>
                      <div class="ml-3">
                        <div class="text-muted small">Počet uživatelů</div>
                        <div class="text-large">82</div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- / Counters -->


            <div class="row">


              <div class="col-md-12">

                <!-- Sale stats -->
                <div class="card mb-8">
                  <h6 class="card-header with-elements">
                    <div class="card-header-title">Přehled objednávek</div>
                    <div class="card-header-elements ml-auto">
                      <!--<button type="button" class="btn btn-default btn-xs md-btn-flat">ukaž vše</button>-->
                      <%= link_to "ukaž vše", dashboard_orders_path, class: "btn btn-default btn-xs md-btn-flat" %>
                    </div>
                  </h6>
                  <div class="table-responsive">
                    <table class="table card-table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Datum</th>
                          <th>Položky</th>
                          <th>Cena</th>
                          <th>Stav</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <%= render partial: "dashboard/order", collection: @orders %>
                        
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- / Sale stats -->

              </div>
            </div>

          </div>
          <!-- / Content -->

          <!-- Layout footer -->
          <nav class="layout-footer footer bg-footer-theme">
            <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
              <div class="pt-3">
                <span class="footer-text font-weight-bolder">ArenaShop</span> ©
              </div>
              <div>
                <a href="javascript:void(0)" class="footer-link pt-3">O projektu</a>
                <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Pomoc</a>
                <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Kontakt</a>
                <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
              </div>
            </div>
          </nav>
          <!-- / Layout footer -->

        </div>
        <!-- Layout content -->

      </div>
      <!-- / Layout container -->

    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

 