  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-2">
    <div class="layout-inner">

      <%= render "layouts/partials/dashboard-sitenav" %>

      <!-- Layout container -->
      <div class="layout-container">
      
      <%= render "layouts/partials/dashboard-navbar" %>

        <!-- Layout content -->
        <div class="layout-content">
          <h1>TEST TeXT</h1>
        </div>
        <!-- Layout content -->

      </div>
      <!-- / Layout container -->

    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

 