<!-- Layout wrapper -->
  <div class="layout-wrapper">
    <div class="layout-inner">

     

      <!-- Layout container -->
      <div class="layout-container">


        <!-- Layout content -->
        <div class="layout-content">

          <!-- Content -->
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              Moje objednávky
            </h4>

            <div class="card">
              <div class="card-header">Přehled odeslaných objednávek</div>
              <table class="table card-table">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Datum</th>
                    <th>Počet položek</th>
                    <th>Cena</th>
                    <th>Stav</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: "orders/order", collection: @orders %>
                </tbody>
              </table>
            </div>

          </div>
          <!-- / Content -->

          

        </div>
        <!-- Layout content -->

      </div>
      <!-- / Layout container -->

    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-sidenav-toggle"></div>
  </div>
  <!-- / Layout wrapper -->
  



  <!-- Demo -->
  <script src="assets/js/demo.js"></script>
  <script src="assets/js/pages_e-commerce_order-list.js"></script>
  
  
  <% content_for :scripts do %>
    <!-- additional scripts -->
    <%#= javascript_include_tag 'mega-dropdown.js', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'swiper/swiper.js', 'data-turbolinks-track': 'reload' %>
    
    <!-- TODO: solve datatables.js p[a] error-->
    <%#= javascript_include_tag 'datatables/datatables.js', 'data-turbolinks-track': 'reload' %> 
    
    <%= javascript_include_tag 'js/demo.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/pages_e-commerce_order-list.js', 'data-turbolinks-track': 'reload' %>
  <% end %>
