
<div class="row">
      <div class="col order-2 order-lg-1">

        <!-- Nav -->
        <div class="d-flex flex-sm-row flex-wrap justify-content-between align-items-sm-center border-bottom-0 ui-bordered">
          <ul class="nav nav-tabs tabs-alt flex-shrink-1 order-3 order-sm-1 border-0 px-4">
            <li class="nav-item">
              <a class="nav-link small font-weight-normal text-expanded py-4 active" href="#">BEST MATCH</a>
            </li>
            <li class="nav-item">
              <a class="nav-link small font-weight-normal text-expanded py-4" href="#">POPULAR</a>
            </li>
            <li class="nav-item">
              <a class="nav-link small font-weight-normal text-expanded py-4" href="#">NEWEST</a>
            </li>
          </ul>

          <hr class="d-sm-none order-2 w-100 m-0">

          <!--<div class="order-1 order-sm-2 px-4">-->
          <!--  <button type="button" class="btn icon-btn btn-outline-primary borderless my-2">-->
          <!--    <span class="ion ion-md-apps"></span>-->
          <!--  </button>-->
          <!--  <button type="button" class="btn icon-btn btn-outline-default borderless my-2">-->
          <!--    <span class="ion ion-md-list"></span>-->
          <!--  </button>-->
          <!--</div>-->
        </div>
        <!-- / Nav -->

        <!-- Products -->
        <div class="row row-bordered no-gutters ui-bordered">
          
          
          <%= render partial: "product", collection: @products %>
         
        </div>
        <!-- / Products -->

        <!-- Pagination -->
        <nav class="mt-4">
          <ul class="pagination flex-wrap justify-content-center">
          
            
            <%= will_paginate @products,
                              renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
                              :style => 'page-item',
                              :previous_label => '&laquo;',
                              :next_label => '&raquo;',
                              :inner_window => "1",
                              :outer_window => "0"
            %>
            
          </ul>
        </nav>
        <!-- / Pagination -->

       

      </div>

      
    </div>





