<!-- Layout footer -->
<nav class="layout-footer footer bg-footer-theme">
  <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
    <div class="pt-3">
      <span class="footer-text font-weight-bolder">ArenaShop</span> ©
    </div>
    <div>
      <a href="javascript:void(0)" class="footer-link pt-3">O aplikaci</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Pomoc</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Kontakt</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ml-4">Podminky použití &amp; Ochrana údajů</a>
    </div>
  </div>
</nav>
<!-- / Layout footer -->