<% content_for :head do %>
 <!-- additional scripts -->
<% end %>

<body>
  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>

  <%= yield %>

  <!-- Core scripts -->
  <!--<script src="assets/vendor/libs/popper/popper.js"></script>-->
  <!--<script src="assets/vendor/js/bootstrap.js"></script>-->
  <!--<script src="assets/vendor/js/sidenav.js"></script>-->

  <!-- Libs -->
  <!--<script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>-->

  <!-- Demo -->
  <!--<script src="assets/js/demo.js"></script>-->

</body>

</html>

